#root {
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container label {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.container input {
  outline: none;
  font-size: 14px;
  padding: 0.2rem 0.6rem;
  margin-bottom: 3rem;

  border: 1px solid grey;
  border-radius: 4px;
}

.container button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.4rem 0;
  cursor: pointer;
}

.container button:hover {
  background-color: #221e2e;
  transition: background-color 0.2s ease-out;
}
